<div class="modal-overlay">
    <div class="modal">
      <div class="modal-header">
        <h2>Histórico de Senhas</h2>
        <button class="close-button" (click)="onClose()">×</button>
      </div>
      <div class="modal-body">
        <table *ngIf="passwordHistory.length > 0; else noHistory" class="password-table">
          <thead>
            <tr>
              <th>Senha</th>
              <th>Data</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of passwordHistory">
              <td>{{ item.password }}</td>
              <td>{{ item.date | date: 'dd/MM/yyyy HH:mm' }}</td>
            </tr>
          </tbody>
        </table>
        <ng-template #noHistory>
          <p>Nenhum histórico disponível.</p>
        </ng-template>
      </div>
    </div>
  </div>
  