<div class="form-container">
    <h2>Password Generator</h2>
  
    <form (ngSubmit)="generatePassword()">
      <div class="input-group">
        <label for="length">Password Length:</label>
        <input type="range" id="length" [(ngModel)]="passwordLength" name="length" min="6" max="20" step="1">
        <span>{{ passwordLength }}</span>
      </div>
  
      <div class="checkbox-group">
        <label>
          <input type="checkbox" [(ngModel)]="includeUppercase" name="includeUppercase"> Incluir letras maiúsculas.
        </label>
      </div>
  
      <div class="checkbox-group">
        <label>
          <input type="checkbox" [(ngModel)]="includeLowercase" name="includeLowercase"> Incluir letras minúsculas.
        </label>
      </div>
  
      <div class="checkbox-group">
        <label>
          <input type="checkbox" [(ngModel)]="includeNumbers" name="includeNumbers"> Incluir números.
        </label>
      </div>
  
      <div class="checkbox-group">
        <label>
          <input type="checkbox" [(ngModel)]="includeSpecialChars" name="includeSpecialChars"> Incluir caracteres especiais.
        </label>
      </div>
  
      <button type="submit">Senha Gerada</button>
    </form>
  
    <div *ngIf="generatedPassword">
      <h3>Generated Password:</h3>
      <input type="text" [value]="generatedPassword" readonly>
    </div>

    <button type="button" (click)="openPasswordHistoryModal()">Ver Histórico de Senhas</button>

    <app-password-history-modal
      *ngIf="isModalOpen"
      (closeModal)="isModalOpen = false">
    </app-password-history-modal>
  </div>
  